{% extends 'base.html' %}
{% load static %}


{% block title %}
{{block.super}} - {{book.title}}
{% endblock title %}


{% block content %}
<div class="card mt-4 border-light">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static book.cover %}" alt="..." width="100%">
        </div>
        <div class="col-md-8 pl-1" style="background-color: #F8F8FF;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{book.author.name_full}}
                    <br>
                    <b>"{{book.title}}"</b>
                    <hr>
                </h5>
                <p class="card-text">
                    {% for genre in book.genres.all %}
                    {{genre.name}}
                    {% endfor %}
                </p>
                <p class="card-text"><small><i>{{book.anotation}}</i></small></p>
                <p class="card-text">
                    Наличие
                    {% if book.status %}
                    <i class="bi bi-plus-circle-fill ml-3" style="color: green;"></i>
                    {% else %}
                    <i class="bi bi-dash-circle-fill" style="color: red;"></i>
                    {% endif %}
                </p>    
            </div>
        </div>
    </div>
</div>
{% endblock content %}